*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.d-flex {
  display: flex;
}
.container {
  background-color: #faeed5;
  width: 18rem;
  margin-inline: auto;
  border-radius: 10%;
  flex-direction: column;
}
img {
  width: 100%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.Bio {
  justify-content: space-around;
  display: flex;
}

h1 {
  font-size: 15px;
  font-weight: bold;
  padding-top: 25px;
  color: rgb(147, 68, 39);
}
span {
  font-weight: normal;
  font-size: 12px;
  padding-left: 6px;
}

p {
  font-size: 15px;
  font-weight: bold;
  color: rgb(147, 68, 39);
}
.prezzo {
  padding-top: 27px;
}
button {
  background-color: rgb(252, 222, 112);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(78, 51, 0);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  width: 10rem;
  height: 2rem;
}
.button {
  justify-content: center;
  margin: 20px;
}
.cards {
  gap: none;
}
