*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.d-flex {
  display: flex;
}
.card {
  background-color: #faeed5;
  width: 18rem;
  min-height: 10rem;
  border-radius: 10%;
  flex-direction: column;
}
img {
  width: 100%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
/* .Bio {
  justify-content: space-around;
  display: flex;
}
 */
h1 {
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  color: rgb(147, 68, 39);
}
span {
  font-weight: normal;
  font-size: 12px;
  padding-left: 6px;
}

p {
  font-size: 15px;
  font-weight: normal;
  color: rgb(147, 68, 39);
}
